#brewery-name, #brewery-info-name {
  margin: 5px 0px 5px 0px;
}

#brewery-type, #brewery-info-est {
  margin: 0px 0px 5px 0px;
}

#brewery-address {
  margin: 5px 0px 5px 0px;
}

#brewery-info-desc {
  margin: 5px 0px 5px 0px;
}

#brewery-entry {
  background: #B0C4DE;
  width: auto;
  margin: 10px;
  padding: 5px;
}

#brewery-list {
  position: relative;
  margin-left: 15px;
  margin-right: 43vw;
  top: 30px;
}

#map-container {
  position: fixed;
  top: 40px;
  right: 40px;
  height: 90vh;
  width: 40vw;
}

#map {
  height: 100%;
  width: 100%;
}

#brewery-info {
  position: static;
  background: #B0C4DE;
  margin-right: 10px;
  margin-top: 35px;
  width: 98vw;
}

#beer-list {
  position: static;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  background: #B0C4DE;
  margin-right: 10px;
  margin-top: 15px;
  width: 98vw;
}

.brewery-page {
  display: none;
}


#beer-entry {
  width: 400px;
  margin: 0px 10px 10px 0px;
}

header {
  z-index: 1;
  position: fixed;
  background-color: white;
  width: 100vw;
  top: 0;
  left: 0;
  height: 30px;
}

#zip, #zip-submit {
  margin-top: 5px;
  margin-left: 15px;

}
